extends ./../layouts/common
block navBar

    h1.text-center Login
    if errors
        each error in errors
            .alert.alert-danger.alert-dismissible
                button.close(type='button', data-dismiss='alert') &times;
                strong Warning!
                |  #{error}.

    .form-group.container.border.border-dark.rounded.bg-light.w-50.p-3.mt-5
        form(method='post')
            label(for='email') Email
            input#email.form-control(type='text', value=values ? values.email : "", name='email', placeholder='Write email')
            br
            label(for='password') Password
            input#password.form-control(type='password', value=values ? values.password : "", name='password', placeholder='Write password')
            br
            button.btn.btn-outline-primary(type='submit') Login

    block footer
    
